.button{

    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: transform 0.12s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &.primary-button{
        background-color: #d35134;
        color: white;
    }

    &:active{
        transform: scale(0.96);
    }
}
